<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.borisbike.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartingPoint"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowSuggestionsActivity"
            android:label="@string/title_activity_show_suggestions" >
        </activity>

        <provider android:name="me.borisbike.android.stations.StationsProvider"
            android:authorities="me.borisbike.android.Stations" android:exported="false"
            android:label="Bike Stations"
            />
    </application>

    <uses-sdk android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- required for geo fencing -->
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>
